/* ------------------------------------------------------------------------- */
/* || Font faces */

/* Material Symbols Outlined icons */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/material-symbols-outlined.woff2") format("woff2-variations");
}

/* Material Symbols Rounded icons */
@font-face {
  font-family: "Material Symbols Rounded";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/material-symbols-rounded.woff2") format("woff2-variations");
}

/* Material Symbols Sharp icons */
@font-face {
  font-family: "Material Symbols Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/material-symbols-sharp.woff2") format("woff2-variations");
}

/* Raleway */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/raleway.woff2") format("woff2-variations");
}

/* Raleway italic */
@font-face {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/raleway-italic.woff2") format("woff2-variations");
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/rubik.woff2") format("woff2-variations");
}

/* Rubik italic */
@font-face {
  font-family: "Rubik";
  font-style: italic;
  font-weight: 300 900;
  font-display: swap;
  src: url("/fonts/rubik-italic.woff2") format("woff2-variations");
}

/* SomeType Mono */
@font-face {
  font-family: "SomeType Mono";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/sometypemono.woff2") format("woff2-variations");
}

/* SomeType Mono italic */
@font-face {
  font-family: "SomeType Mono";
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
  src: url("/fonts/sometypemono-italic.woff2") format("woff2-variations");
}
