<span class="component search
  {{ with .type }}
    {{ . }} 
  {{ end }}

  {{ with .view }}
    {{ . }} 
  {{ end }}">

  {{ if eq .type "view" }}
    <div class="header">
      <div class="component button icon">
        <i class="icon">arrow_back</i>
      </div>
  
      <input  
        placeholder="Search"
        aria-label="search" 
        type="search">
      
      <div class="component button icon">
        <i class="icon">close</i>
      </div>
    </div>
    
    <hr class="divider">

    {{ if .showList }}
      <div class="set lists">
        <div class="component list item one">
          <div class="icon-container">
            <i class="icon">home</i>
          </div>
          <div class="label">Home</div>
        </div>
        
        <div class="component list item one">
          <div class="icon-container">
            <i class="icon">folder</i>
          </div>
          <div class="label">Folder</div>
        </div>
        
        <div class="component list item one">
          <div class="icon-container">
            <i class="icon">note</i>
          </div>
          <div class="label">Note</div>
        </div>
        
        <div class="component list item one">
          <div class="icon-container">
            <i class="icon">token</i>
          </div>
          <div class="label">Token</div>
        </div>
      </div>
    {{ else }}  
      <div class="set lists"></div>
    {{ end }}
  {{ else }}
    <div class="component button icon">
      <i class="icon">menu</i>
    </div>

    <input  
      placeholder="Search"
      aria-label="search" 
      type="search">
    
    <div class="component button icon">
      <i class="icon">search</i>
    </div>

    {{ with .avatar }}
      <div class="component button icon">
        <div class="avatar">{{ . }}</div>
      </div>
    {{ end }}
  {{ end }}
</span>
