.basic-split-pane {
  --layout-flex-flow: row nowrap;

  .pane {
    --layout-flex: 1 1 0;
  }
}

/* Compact: 0-599px */
@media screen and (max-width: 599px) {
  .basic-split-pane {
    .pane {
      --layout-display: none;
      --layout-flex: 1 1 0;
      --layout-width: calc(50% - var(--spacing-panes) / 2);
    }

    &::before {
      content: "Compact: do not use this layout on screens smaller than 600px wide.";
      display: flex;
      color: var(--color-error);
      padding: 4em;
    }
  }
}
