.panes.canon-supporting-pane {
  --layout-flex-flow: column nowrap;

  .focus-pane {
    --layout-flex: 1 1 auto;
  }

  .supporting-pane {
    --layout-flex: 1 1 auto;
  }
}

@media screen and (min-width: 840px) {
  .panes.canon-supporting-pane {
    --layout-flex-flow: row nowrap;

    .focus-pane {
      --layout-flex: 2 1 0;
    }

    .supporting-pane {
      --layout-flex: 1 2 0;
    }
  }
}
