{{ $isCoverImage := not (.Page.Scratch.Get "coverImage") }}

{{- if .IsBlock -}}
  <figure
    {{- if $isCoverImage }} 
      id="cover-image"
    {{- end -}}>
    
    <img
      loading="lazy"
      src=" 
        {{with (resources.GetMatch .Destination)}} 
          {{ .Permalink }}
        {{end}}" 
      
      {{- with .Text }}
        alt="{{ . }}"
      {{- end -}}>

    {{- with .Title }}
      <figcaption>
        {{- . -}}
      </figcaption> 
    {{- end -}}
  </figure>
{{- else -}}
  {{/*  ![description](destination "title")  */}}
  <img
    loading="lazy"
    src="{{ .Destination | safeURL }}"

    {{- with .Text }}
      alt="{{- . -}}"
    {{- end -}}

    {{- with .Title }}
      title="{{- . -}}"
    {{- end -}}

    {{- if $isCoverImage }} 
      id="cover-image"
    {{- end -}}>
{{- end -}}

{{ if $isCoverImage }}
  {{ .Page.Scratch.Set "coverImage" true }}
{{ end }}
