.button.fab {
  --container-width: var(--size-14);
  --container-height: var(--size-14);
  --container-shape: var(--shape-corner-l);
  --container-padding: var(--size-4);
  --container-elevation: var(--elevation3);
  --container-elevation-hover: var(--elevation4);
  --container-elevation-focus: var(--elevation3);
  --container-elevation-press: var(--elevation3);
  
  .icon {
    font-size: var(--size-6);
  }

  &.medium {
    --container-width: var(--size-20);
    --container-height: var(--size-20);
    --container-shape: var(--shape-corner-li);
    --container-padding: var(--size-4);
    
    .icon {
      font-size: var(--size-7);
    }
  }

  &.large {
    --container-width: var(--size-24);
    --container-height: var(--size-24);
    --container-shape: var(--shape-corner-xl);
    --container-padding: var(--size-4);
    
    .icon {
      font-size: var(--size-9);
    }
  }

  &.extended {
    min-width: var(--size-20);
    gap: var(--size-4);
    --container-width: auto;
    --container-padding: var(--size-4);

    &.small {
      --container-height: var(--size-14);
      --container-shape: var(--shape-corner-l);

      font-size: var(--size-4);

      .icon {
        font-size: var(--size-6);
      }
    }

    &.medium {
      --container-height: var(--size-20);
      --container-shape: var(--shape-corner-li);

      font-size: 22px;

      .icon {
        font-size: var(--size-7);
      }
    }

    &.large {
      --container-height: var(--size-24);
      --container-shape: var(--shape-corner-xl);
      
      font-size: var(--size-6);
      
      .icon {
        font-size: var(--size-9);
      }
    }
    
  }
}
