.button.icon {
  min-height: var(--size-10);
  min-width: var(--size-10);
  --container-padding: 0;
  --container-shape: var(--shape-corner-full);
  --icon-color: var(--color-on-surface-variant);

  &.narrow {
    min-width: var(--size-8);
  }

  &.wide {
    min-width: var(--size-13);
  }

  .icon,
  & svg {
    font-size: var(--size-6);
  }
  
  &.square {
    --container-shape: var(--shape-corner-m);

    &.medium {
      --container-shape: var(--shape-corner-l);
    }

    &:is(.large, .xlarge) {
      --container-shape: var(--shape-corner-xl);
    }
  }

  &.xsmall {
    min-height: var(--size-8);
    min-width: var(--size-8);

    &.narrow {
      min-width: var(--size-7);
    }

    &.wide {
      min-width: var(--size-10);
    }

    .icon,
    & svg {
      font-size: var(--size-5);
    }
  }
  
  &.medium {
    min-height: var(--size-14);
    min-width: var(--size-14);

    &.narrow {
      min-width: var(--size-12);
    }

    &.wide {
      min-width: var(--size-18);
    }

    .icon,
    & svg {
      font-size: var(--size-6);
    }
  }

  &.large {
    min-height: var(--size-24);
    min-width: var(--size-24);

    &.narrow {
      min-width: var(--size-16);
    }

    &.wide {
      min-width: var(--size-32);
    }

    .icon,
    & svg {
      font-size: var(--size-8);
    }
  }

  &.xlarge {
    min-height: var(--size-34);
    min-width: var(--size-34);

    &.narrow {
      min-width: var(--size-26);
    }

    &.wide {
      min-width: var(--size-46);
    }

    .icon,
    & svg {
      font-size: var(--size-10);
    }
  }

  & input[type="checkbox"] {
    display: none;

    &:checked + .button.icon {
      --icon-color: var(--color-primary);

      .icon,
      & svg {
        font-variation-settings: "FILL" 1;
      }
    }
  }
}

.button.icon.filled {
  --container-color: var(--color-primary);
  --icon-color: var(--color-on-primary);

  &:has(input[type="checkbox"]) {
    --container-color: var(--color-surface-container-highest);
    --icon-color: var(--color-primary);

    .button.icon {
      --container-color: var(--color-surface-container-highest);
      --icon-color: var(--color-primary);
    }
  }

  &:has(input[type="checkbox"]:checked) {
    --container-color: var(--color-primary);
    --icon-color: var(--color-on-primary);

    .button.icon {
      --container-color: var(--color-primary);
      --icon-color: var(--color-on-primary);
    }

    .icon,
    & svg {
      font-variation-settings: "FILL" 1;
    }
  }
}

.button.icon.tonal {
  --container-color: var(--color-secondary-container);
  --icon-color: var(--color-on-secondary-container);

  &:has(input[type="checkbox"]) {
    --container-color: var(--color-surface-container-highest);
    --icon-color: var(--color-on-surface-variant);

    .button.icon {
      --container-color: var(--color-surface-container-highest);
      --icon-color: var(--color-on-surface-variant);
    }
  }

  &:has(input[type="checkbox"]:checked) {
    --container-color: var(--color-secondary-container);
    --icon-color: var(--color-on-secondary-container);

    .button.icon {
      --container-color: var(--color-secondary-container);
      --icon-color: var(--color-on-secondary-container);
    }

    .icon,
    & svg {
      font-variation-settings: "FILL" 1;
    }
  }
}

.button.icon.outlined {
  --container-outline: 1px solid var(--color-outline);
  --container-outline-hover: 1px solid var(--color-outline);
  --container-outline-focus: 1px solid var(--color-outline);
  --container-outline-press: 1px solid var(--color-outline);
  --disabled-outline: hsl(
      from var(--color-on-surface) 
      l 
      c 
      h 
      / 0.12);
  --container-outline-disabled: 1px solid var(--disabled-outline);

  & input[type="checkbox"] {
    &:checked + .button.icon {
      --container-color: var(--color-inverse-surface);
      --icon-color: var(--color-inverse-on-surface);

      .icon,
      & svg {
        font-variation-settings: "FILL" 1;
      }
    }
  }
}

