#github-button {
  margin-top: var(--size-7);
  width: 100%;
}

/* Compact: 0-599px */
@media screen and (max-width: 599px) {
  #github-button {
    width: 0px;
    padding: unset;
    align-self: flex-end;
    transition: width var(--motion-duration-long4) var(--motion-easing-emphasized);

    .repo-name {
      display: none;
    }
  }
}
