.components-panel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: fit-content;
  border-radius: var(--shape-corner-m);
  margin: 0 auto;
  padding: var(--spacing-panes);
  background: var(--color-surface-container);
  gap: var(--size-5);

  .panel-button-grid,
  .row,
  .column {
    align-self: stretch;
    gap: var(--size-4);
    padding: var(--size-1);
  }
  
  .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
}
