{{ define "main" }}
<article 
  class="layout panes basic-single-pane" 
  id="components-showcase">
  <section 
    class="layout pane" 
    id="post-content">  
    {{ with .Content }}
      {{ . }}
    {{ end }}
    
    {{/*  Common buttons  */}}
    <div class="showcase-components-header">Common buttons</div>
    <div class="layout showcase-components">
      {{ $buttonTypes := slice
        (dict 
          "type" "text"
          "label" "Text")
        (dict 
          "type" "elevated"
          "label" "Elevated")
        (dict 
          "type" "filled"
          "label" "Filled")
        (dict 
          "type" "tonal" 
          "label" "Filled tonal")
        (dict 
          "type" "outlined"
          "label" "Outlined") }}

      {{/*  Common w/o icon  */}}
      <div class="sub-showcase-components-header">No icon</div>
      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/button-common.html" . }}
        {{ end }}
      </section>
      <section>
        {{ range $buttonTypes }}
          {{ $disabled := merge . (dict "disabled" "disabled") }}
          {{ partial "components/actions/button-common.html" $disabled }}
        {{ end }}
      </section>
    
      {{/*  Common w/ icon  */}}
      <div class="sub-showcase-components-header">With icon</div>
      <section>
        {{ range $buttonTypes }}
          {{ $withIcon := merge . (dict "icon" "add") }}
          {{ partial "components/actions/button-common.html" $withIcon }}
        {{ end }}
      </section>
      <section>
        {{ range $buttonTypes }}
          {{ $withIcon := merge . (dict "icon" "add" "disabled" "disabled") }}
          {{ partial "components/actions/button-common.html" $withIcon }}
        {{ end }}
      </section>
    </div>

    {{/*  FABs  */}}
    <div class="showcase-components-header">Floating action buttons (FABs)</div>
    <div class="layout showcase-components">
      {{ $containerClasses := slice "surface-container-high" "primary-container" "secondary-container" "tertiary-container" }}
      {{ $fabTypes := slice
        (dict 
          "title" "Small FAB" 
          "size" "small" 
          "icon" "add")
        (dict 
          "title" "FAB"
          "size" "regular"
          "icon" "add")
        (dict 
          "title" "Large FAB" 
          "size" "large" 
          "icon" "add")
        (dict 
          "title" "Extended FAB - no icon" 
          "size" "extended"
          "label" "Extended")
        (dict 
          "title" "Extended FAB - with icon" 
          "size" "extended"
          "icon" "add" 
          "label" "Extended") }}

      {{ range $fabType := $fabTypes }}
        <div class="sub-showcase-components-header">{{ $fabType.title }}</div>
        <section>
          {{ range $class := $containerClasses }}
            {{ $fabConfig := merge $fabType (dict "class" $class) }}
            {{ partial "components/actions/button-fab.html" $fabConfig }}
          {{ end }}
        </section>
      {{ end }}
    </div>

    {{/*  Icon buttons  */}}
    <div class="showcase-components-header">Icon buttons</div>
    <div class="layout showcase-components">
      {{ $buttonTypes := slice "text" "filled" "tonal" "outlined" }}
      
      {{/*  Icon button  */}}
      <div class="sub-showcase-components-header">Icon button</div>
      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/button-icon.html" (dict
            "type" .
            "icon" "settings") }}
        {{ end }}
      </section>

      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/button-icon.html" (dict
            "type" .
            "icon" "settings"
            "disabled" "disabled") }}
        {{ end }}
      </section>

      {{/*  Icon button - toggle  */}}
      <div class="sub-showcase-components-header">Icon button - toggle</div>
      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/button-icon.html" (dict
            "id" .
            "type" .
            "icon" "settings"
            "toggle" true) }}
        {{ end }}
      </section>

      <section>
        {{ range $buttonTypes }}
          {{ partial "components/actions/button-icon.html" (dict
            "id" .
            "type" .
            "icon" "settings"
            "toggle" true
            "disabled" "disabled") }}
        {{ end }}
      </section>
    </div>

    {{/*  Segmented buttons  */}}
    <div class="showcase-components-header">Segmented buttons</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Outlined - single select</div>
      
      {{ $segmentedButtons := slice
        (dict 
          "name" "segmented4" 
          "type" "radio"
          "buttons" (slice
            (dict 
              "id" "start4" 
              "label" "Single" 
              "checked" "checked"
              "icon" "check")
            (dict 
              "id" "middle3" 
              "label" "Single"
              "icon" "check")
            (dict 
              "id" "middle4" 
              "label" "Single"
              "icon" "check")
            (dict 
              "id" "middle5" 
              "label" "Single"
              "icon" "check")
            (dict 
              "id" "end4" 
              "label" "Single"
              "icon" "check") ) ) }}

      {{ range $segmentedButtons }}
        {{ partial "components/actions/button-segmented.html" . }}
      {{ end }}

      <div class="sub-showcase-components-header">Outlined - multi select</div>

      {{ $segmentedButtons := slice
        (dict 
          "name" "segmented4" 
          "type" "checkbox"
          "buttons" (slice
            (dict 
              "id" "startcheck4" 
              "label" "Multi"
              "checked" "checked"
              "icon" "check")
            (dict 
              "id" "middlecheck3" 
              "label" "Multi"
              "icon" "check")
            (dict 
              "id" "middlecheck4" 
              "label" "Multi"
              "icon" "check")
            (dict 
              "id" "middlecheck5" 
              "label" "Multi"
              "icon" "check")
            (dict 
              "id" "endcheck4" 
              "label" "Multi"
              "icon" "check") ) ) }}

      {{ range $segmentedButtons }}
        {{ partial "components/actions/button-segmented.html" . }}
      {{ end }}

      <div class="sub-showcase-components-header">Outlined - disabled</div>
  
      {{ partial "components/actions/button-segmented.html" (dict
        "name" "segmenteddisabled" 
        "type" "radio"
        "buttons" (slice
          (dict 
            "id" "start2" 
            "label" "Enabled" 
            "checked" "checked"
            "icon" "check")
          (dict 
            "id" "middle2" 
            "label" "Enabled" 
            "icon" "check")
          (dict 
            "id" "end2" 
            "disabled" "disabled"
            "label" "Disabled"
            "icon" "check") ) ) }}

      <div class="sub-showcase-components-header">Outlined - subcomponents</div>
      <label class="component button segmented start">
        <input 
          type="checkbox">
        <i class="icon">
          check
        </i>
        Start
      </label>
      <label class="component button segmented">
        <input 
          type="checkbox">
        <i class="icon">
          check
        </i>
        Middle
      </label>
      <label class="component button segmented end">
        <input 
          type="checkbox">
        <i class="icon">
          check
        </i>
        End
      </label>
      <label class="component button segmented start" disabled>
        <input 
          disabled
          type="checkbox">
        Disabled
      </label>
      <label class="component button segmented" disabled>
        <input 
          disabled
          type="checkbox">
        Disabled
      </label>
      <label class="component button segmented end" disabled>
        <input 
          disabled
          type="checkbox">
        Disabled
      </label>
    </div>
  </section>
</article>
{{ end }}
