{{ define "main" }}
<article 
  class="layout panes basic-single-pane" 
  id="components-showcase">
  <section 
    class="layout pane" 
    id="post-content">  
    
    {{ with .Content }}
      {{ . }}
    {{ end }}
 
    {{/*  Badges  */}}
    <div class="showcase-components-header">Badges</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Badge</div>
      {{ partial "components/communications/badges.html" }}

      {{ partial "components/communications/badges.html" (dict 
        "size" "large" 
        "label" "3") }}
      
      {{ partial "components/communications/badges.html" (dict 
        "size" "large" 
        "label" "999") }}
      
      {{ partial "components/communications/badges.html" (dict 
        "size" "large" 
        "label" "9999") }}
      
      {{ partial "components/communications/badges.html" (dict 
        "size" "large" 
        "label" "99999") }}
    </div>
    
    {{/*  Progress indicators  */}}
    <div class="showcase-components-header">Progress indicators</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Linear - determinate</div>
      {{ partial "components/communications/progress-indicators.html" (dict 
        "config" "linear" 
        "determinate" "determinate") }}
      
      <div class="sub-showcase-components-header">Linear - indeterminate</div>
      {{ partial "components/communications/progress-indicators.html" (dict 
        "config" "linear"
        "determinate" "indeterminate") }}
      
      <div class="sub-showcase-components-header">Circular - determinate</div>
      {{ partial "components/communications/progress-indicators.html" (dict 
        "config" "circular" 
        "determinate" "determinate") }}
      
      <div class="sub-showcase-components-header">Circular - indeterminate</div>
      {{ partial "components/communications/progress-indicators.html" (dict 
        "config" "circular" 
        "determinate" "indeterminate") }}
    </div>
    
    {{/*  Snackbars  */}}
    <div class="showcase-components-header">Snackbars</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">No close affordance</div>
      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Single line snackbar") }}

      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Single line snackbar with action" 
        "action" "Action") }}

      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Two-line snackbar<br>without action" 
        "size" "two") }}

      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Two-line snackbar with action<br>with action" 
        "size" "two" 
        "action" "Action") }}

      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Two-line snackbar with longer action<br>with action" 
        "size" "two" 
        "action" "Longer action" 
        "longerAction" "longer-action") }}
    
      <div class="sub-showcase-components-header">With close affordance</div>
      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Single line snackbar with close button" 
        "closeButton" "close") }}
      
      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Single line snackbar with action" 
        "action" "Action" 
        "closeButton" "close") }}
      
      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Two-line snackbar with action<br>with action" 
        "size" "two" 
        "action" "Action" 
        "closeButton" "close") }}
      
      {{ partial "components/communications/snackbars.html" (dict 
        "text" "Two-line snackbar<br>with longer action" 
        "size" "two" 
        "action" "Longer action" 
        "longerAction" "longer-action" 
        "closeButton" "close") }}
    </div>
        
    {{/*  Tooltips  */}}
    <div class="showcase-components-header">Tooltips</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Plain tooltip</div>
      {{ partial "components/communications/tooltips.html" (dict 
        "text" "Plain tooltip") }}

      {{ partial "components/communications/tooltips.html" (dict 
        "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?") }}
    
      <div class="sub-showcase-components-header">Rich tooltip</div>
      {{ partial "components/communications/tooltips.html" (dict 
        "rich" true 
        "title" "Rich tooltip" 
        "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?" 
        "actions" true) }}
    
      {{ partial "components/communications/tooltips.html" (dict 
        "rich" true 
        "title" "Rich tooltip" 
        "text" "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste obcaecati dignissimos iure perferendis, amet error alias hic ab eius minus ipsum nam voluptatem quos, veniam quod cumque. Voluptas, distinctio provident?") }}
    </div>
  </section>
</article>
{{ end }}
