{{ define "main" }}
<article 
  class="layout panes basic-single-pane" 
  id="components-showcase">
  <section 
    class="layout pane" 
    id="post-content">

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Cards  */}}
    <div class="showcase-components-header">Cards</div>
    <div class="layout showcase-components" id="cards">
      <div class="sub-showcase-components-header">Basic</div>
      <section class="showcase-cards">
        {{ partial "components/containments/cards.html" (dict
          "type" "elevated"
          "showcase" "Elevated") }}

        {{ partial "components/containments/cards.html" (dict
          "type" "elevated"
          "showcase" "Elevated - Disabled"
          "disabled" "disabled") }}

        {{ partial "components/containments/cards.html" (dict
          "type" "filled"
          "showcase" "Filled") }}

        {{ partial "components/containments/cards.html" (dict
          "type" "filled"
          "showcase" "Filled- Disabled"
          "disabled" "disabled") }}

        {{ partial "components/containments/cards.html" (dict
          "type" "outlined"
          "showcase" "Outlined") }}

        {{ partial "components/containments/cards.html" (dict
          "type" "outlined"
          "showcase" "Outlined - Disabled"
          "disabled" "disabled") }}
              
        <div class="component card elevated" horizontal>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - horizontal</div>
              <div class="subhead">Subhead</div>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>
        </div>

        <div class="component card filled" horizontal>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - horizontal</div>
              <div class="subhead">Subhead</div>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>
        </div>
        
        <div class="component card outlined" horizontal>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - horizontal</div>
              <div class="subhead">Subhead</div>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>
        </div>
        
        <div class="component card elevated" stacked>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - stacked</div>
              <div class="subhead">Subhead</div>
            </div>

            <div class="component button icon">
              <i class="icon">more_vert</i>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>

          <div class="text-content">            
            <div class="titles">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
            <div class="body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Non blanditiis voluptas, repellat, impedit, sit reprehenderit
              nam et ipsa eius amet rem! Eligendi sequi magnam
              exercitationem vel dignissimos similique, atque earum.
            </div>
            <div class="actions">
              <button class="component button common outlined">Action</button>
              <button class="component button common filled">Action</button>
            </div>
          </div>
        </div>

        <div class="component card filled" stacked>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - stacked</div>
              <div class="subhead">Subhead</div>
            </div>

            <div class="component button icon">
              <i class="icon">more_vert</i>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>

          <div class="text-content">            
            <div class="titles">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
            <div class="body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Non blanditiis voluptas, repellat, impedit, sit reprehenderit
              nam et ipsa eius amet rem! Eligendi sequi magnam
              exercitationem vel dignissimos similique, atque earum.
            </div>
            <div class="actions">
              <button class="component button common outlined">Action</button>
              <button class="component button common filled">Action</button>
            </div>
          </div>
        </div>

        <div class="component card outlined" stacked>
          <div class="content">
            <div class="monogram">W</div>
            
            <div class="text">
              <div class="header">Header - stacked</div>
              <div class="subhead">Subhead</div>
            </div>

            <div class="component button icon">
              <i class="icon">more_vert</i>
            </div>
          </div>

          <div class="media">
            <i class="icon">image</i>
          </div>

          <div class="text-content">            
            <div class="titles">
              <div class="title">Title</div>
              <div class="subtitle">Subtitle</div>
            </div>
            <div class="body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Non blanditiis voluptas, repellat, impedit, sit reprehenderit
              nam et ipsa eius amet rem! Eligendi sequi magnam
              exercitationem vel dignissimos similique, atque earum.
            </div>
            <div class="actions">
              <button class="component button common outlined">Action</button>
              <button class="component button common filled">Action</button>
            </div>
          </div>
        </div>
      </section>
    </div>

    {{/*  Carousels  */}}
    <div class="showcase-components-header">Carousels</div>
    <div class="layout showcase-components">
      {{/*  Hero */}}
      <div class="sub-showcase-components-header">Hero</div>
      {{ partial "components/containments/carousels.html" (dict
        "layout" "hero"
        "images" (slice
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}

      {{/*  Center-aligned hero */}}
      <div class="sub-showcase-components-header">Center-aligned hero</div>
      {{ partial "components/containments/carousels.html" (dict
        "layout" "center-aligned-hero"
        "images" (slice
          (dict 
            "icon" "image"
            "size" "small")
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}
      
      {{/*  Multi-browse */}}
      <div class="sub-showcase-components-header">Multi-browse</div>
      {{ partial "components/containments/carousels.html" (dict
        "layout" "multi-browse"
        "images" (slice
          (dict "icon" "image")
          (dict 
            "icon" "image"
            "size" "medium")
          (dict 
            "icon" "image"
            "size" "small")
          )
        )
      }}
      
      {{/*  Uncontained */}}
      <div class="sub-showcase-components-header">Uncontained</div>
      {{ partial "components/containments/carousels.html" (dict
        "layout" "uncontained"
        "images" (slice
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          )
        )
      }}

      {{/*  Full-screen  */}}
      <div class="sub-showcase-components-header">Full-screen</div>
      {{ partial "components/containments/carousels.html" (dict
        "layout" "full"
        "images" (slice
          (dict "icon" "image")
          (dict "icon" "image")
          (dict "icon" "image")
          )
        )
      }}

      {{/*  Subcomponents  */}}
      <div class="sub-showcase-components-header">Subcomponents</div>

      {{ partial "components/containments/carousels.html" (dict
        "layout" "uncontained"
        "images" (slice
          (dict 
            "icon" "image"
            "size" "small")
          (dict 
            "icon" "image"
            "size" "medium")
          (dict
            "icon" "image")
          (dict
            "size" "medium"
            "label" "Label")
          (dict
            "size" "medium"
            "label" "Label"
            "supporting_text" "Supporting text")
          )
        )
      }}

    </div>
    
    {{/*  Dialogs  */}}
    <div class="showcase-components-header">Dialogs</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Basic dialog</div>
      {{ partial "components/containments/dialogs.html" (dict 
        "headline" "Basic dialog"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        "actions" true
        ) 
      }}

      {{ partial "components/containments/dialogs.html" (dict 
        "icon" "chat"
        "headline" "Basic dialog with icon"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        "actions" true
        ) 
      }}

      <div class="sub-showcase-components-header">Full screen dialog</div>
      {{ partial "components/containments/dialogs.html" (dict 
        "type" "full"
        "headline" "Full screen dialog"
        "supporting_text" "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptas, repellat, impedit, sit reprehenderit nam et ipsa eius amet rem! Eligendi sequi magnam exercitationem vel dignissimos similique, atque earum."
        ) 
      }}
    </div>
    
    {{/*  Dividers  */}}
    <div class="showcase-components-header">Dividers</div>
    <div class="layout showcase-components">

      <div class="sub-showcase-components-header">Horizontal</div>

      <div class="divider-showcase-container">
        <div class="title-small">Mid inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "mid"
          ) 
        }}
        <div class="title-small">Start inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "start"
          ) 
        }}
        <div class="title-small">End inset</div>
        {{ partial "components/containments/dividers.html" (dict
          "inset" "end"
          ) 
        }}
        <div class="title-small">No inset</div>
        {{ partial "components/containments/dividers.html" (dict
          ) 
        }}
      </div>

      <div class="sub-showcase-components-header">Vertical</div>
      <div class="divider-showcase-container-vertical">
        <div class="title-small">
          Mid inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" "vertical"
            "inset" "mid"
            ) 
          }}
        </div>
        <div class="title-small">
          Start inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" "vertical"
            "inset" "start"
            ) 
          }}
        </div>
        <div class="title-small">
          End inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" "vertical"
            "inset" "end"
            ) 
          }}
        </div>
        <div class="title-small">
          No inset
          {{ partial "components/containments/dividers.html" (dict
            "vertical" "vertical"
            ) 
          }}
        </div>
      </div>
    </div>

    {{/*  Lists  */}}
    <div class="showcase-components-header">Lists</div>
    <div class="layout showcase-components">
      {{/*  Lists  */}}
      <div class="sub-showcase-components-header">Lists</div>

      {{/*  One line  */}}
      <div class="title-large">One line lists</div>
      <div class="set lists">
        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "disabled" "disabled"
          "headline" "List-item disabled"
          "dividers" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "icon_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "icon_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "icon_leading" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_trailing" true
          "icon_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "icon_leading" true
          "icon_trailing" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_trailing" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_trailing" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "checkbox_leading" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "radio" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "radio" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "switch" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "one"
          "headline" "List-item"
          "dividers" true
          "icon_leading" true
          "switch" true
          )
        }}
      </div>

      {{/*  Two line  */}}
      <div class="title-large">Two line lists</div>
      <div class="set lists">
        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "disabled" "disabled"
          "headline" "List-item disabled"
          "supporting_text_content" "Two lines"
          "dividers" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "icon_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "icon_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "icon_leading" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_trailing" true
          "icon_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "icon_leading" true
          "icon_trailing" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_trailing" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_trailing" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "checkbox_leading" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "radio" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "radio" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "switch" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "two"
          "headline" "List-item"
          "supporting_text_content" "Two lines"
          "dividers" true
          "icon_leading" true
          "switch" true
          )
        }}
      </div>

      {{/*  Three line  */}}
      <div class="title-large">Three line lists</div>
      <div class="set lists">
        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "disabled" "disabled"
          "headline" "List-item disabled"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "icon_trailing" true
          )
        }}
                
        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "icon_trailing" true
          "monogram" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "icon_leading" true
          )
        }}
        
        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_trailing" true
          "icon_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "icon_leading" true
          "icon_trailing" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_trailing" true
          "image" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_trailing" true
          "video" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_leading" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "checkbox_leading" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "radio" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "radio" true
          "supporting_text" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "switch" true
          )
        }}

        {{ partial "components/containments/lists.html" (dict
          "size" "three"
          "headline" "List-item"
          "supporting_text_content" "Three lines Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis itaque et doloremque ut dolore vero ipsum ullam fuga."
          "dividers" true
          "icon_leading" true
          "switch" true
          )
        }}
      </div>

      {{/*  Subcomponents  */}}
      <div class="title-large">Subcomponents</div>
      <section>
        Monogram
        <div class="avatar monogram">A</div>
        Image thumbnail
        <div class="image-thumbnail"></div>
        Video thumbnail
        <div class="video-thumbnail"></div>
      </section>
    </div>

    {{/*  || Sheets  */}}

    {{/*  Bottom sheets  */}}
    <div class="showcase-components-header">Sheets</div>
    <div class="layout showcase-components">
      <div class="display-medium">Bottom sheets</div>
      <div class="sub-showcase-components-header">Standard bottom sheet</div>   
      {{ partial "components/containments/sheet-bottom.html" (dict)}}  
      
      {{ partial "components/containments/sheet-bottom.html" (dict
        "drag_handle" true
        )
      }}  

      <div class="sub-showcase-components-header">Modal bottom sheet</div>
      {{ partial "components/containments/sheet-bottom.html" (dict
        "container" "modal"
        )
      }}  
      
      {{ partial "components/containments/sheet-bottom.html" (dict
        "container" "modal"
        "drag_handle" true
        )
      }} 

      {{/*  Side sheets  */}}
      <div class="display-medium">Side sheets</div>
      <div class="sub-showcase-components-header">Standard side sheet</div>
      {{ partial "components/containments/sheet-side.html" (dict
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}
      
      <div class="sub-showcase-components-header">Modal side sheets</div>
      {{ partial "components/containments/sheet-side.html" (dict
        "type" "modal"
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "type" "modal"
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "type" "modal"
        "headline" "Title"
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}

      {{ partial "components/containments/sheet-side.html" (dict
        "type" "modal"
        "headline" "Title"
        "back_icon" true
        "content" "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae doloribus deleniti reiciendis adipisci doloremque necessitatibus dolorem facilis, tenetur maxime illum et aliquid, molestias deserunt tempore ut nostrum non amet corrupti!"
        "actions" true
        )
      }}
    </div>
  </section>
</article>
{{ end }}
