{{ define "main" }}
<article 
  class="layout panes basic-single-pane" 
  id="components-showcase">
  <section 
    class="layout pane" 
    id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Checkboxes  */}}
    <span class="showcase-components-header">Checkboxes</span>
    <div class="layout showcase-components">
      {{/*  Selected  */}}
      <div class="sub-showcase-components-header">Regular</div>
      {{ partial "components/selections/checkboxes.html" (dict) }}
      
      {{ partial "components/selections/checkboxes.html" (dict 
        "disabled" "disabled") }}
      
      {{ partial "components/selections/checkboxes.html" (dict 
        "disabled" "disabled"
        "checked" "checked") }}
      
      {{ partial "components/selections/checkboxes.html" (dict 
        "label" "Label") }}
    
      {{/*  Indeterminate  */}}
      <div class="sub-showcase-components-header">Regular - indeterminate</div>
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "disabled" "disabled") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "disabled" "disabled"
        "checked" "checked") }}
      
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "label" "Label") }}

      {{/*  Error  */}}
      <div class="sub-showcase-components-header">Error</div>
      {{ partial "components/selections/checkboxes.html" (dict 
        "error" true) }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "error" true
        "disabled" "disabled") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "error" true
        "disabled" "disabled"
        "checked" "checked") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "label" "Label"
        "error" true) }}

      {{/*  Indeterminate  */}}
      <div class="sub-showcase-components-header">Error - indeterminate</div>
      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "error" true) }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "error" true
        "disabled" "disabled") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "error" true
        "disabled" "disabled"
        "checked" "checked") }}

      {{ partial "components/selections/checkboxes.html" (dict 
        "indeterminate" "indeterminate"
        "label" "Label"
        "error" true) }}
    </div>

    {{/*  Chips  */}}
    <div class="showcase-components-header">Chips</div>
    <div class="layout showcase-components">
      {{/*  Assist chip  */}}
      <div class="sub-showcase-components-header">Assist chip</div>
    
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "favicon" true
          "label" "Chip") }}
      </div>
    
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "favicon" true
          "label" "Chip") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "favicon" true
          "label" "Chip") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "favicon" true
          "label" "Chip") }}
      </div>

      {{/*  Filter chip  */}}
      <div class="sub-showcase-components-header">Filter chip</div>
      
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>
      
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "arrow_drop_down") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "home"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      {{/*  Input chip  */}}
      <div class="sub-showcase-components-header">Input chip</div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          "trailing_icon" "close") }}
        
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          "trailing_icon" "close") }}
        
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "filled"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "filled"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "filled"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "filled"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip"
          "trailing_icon" "close") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "type" "input"
          "name" "chips"
          "avatar" "A"
          "label" "Chip"
          "trailing_icon" "close") }}
      </div>

      {{/*  Suggestion chip  */}}
      <div class="sub-showcase-components-header">Suggestion chip</div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}
      </div>

      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "outlined"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}
      </div>
      
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}
      </div>
      
      <div class="set chips">
        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "label" "Chip") }}

        {{ partial "components/selections/chips.html" (dict
          "container" "elevated"
          "disabled" "disabled"
          "name" "chips"
          "leading_icon" "check"
          "label" "Chip") }}
      </div>
    </div>
    
    {{/*  Menus  */}}
    <div class="showcase-components-header">Menus</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">No divider</div>
      {{ partial "components/selections/menus.html" (dict
        "menu_items" (slice 
          (dict "label" "Menu item 1")
          (dict "label" "Menu item 2")
          (dict "label" "Disabled" "disabled" "disabled")
          (dict "label" "Menu item 3")
          (dict "label" "Menu item 4")
          )) }}

      <div class="sub-showcase-components-header">With dividers</div>
      {{ partial "components/selections/menus.html" (dict
        "dividers" true
        "menu_items" (slice 
          (dict "label" "Menu item 1")
          (dict "label" "Menu item 2")
          (dict 
            "label" "Disabled"
            "disabled" "disabled")
          (dict "label" "Menu item 3")
          (dict "label" "Menu item 4") ) ) }}

      {{/*  Subcomponents  */}}
      <div class="display-medium">Subcomponents</div>
      <div class="leading icon">
        <i class="icon">content_cut</i>
      </div>
      <div class="leading indent">

      </div>
      <div class="trailing icon">
        <i class="icon">arrow_right</i>
      </div>
      <div class="trailing keyboard">
        ALT+F4
      </div>
      <div class="trailing icon selected">
        <i class="icon">arrow_right</i>
      </div>
      <div class="trailing keyboard selected">
        ALT+F4
      </div>

    </div>

    {{/*  Radio  */}}
    <div class="showcase-components-header">Radio buttons</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Radios</div>
      {{ $radioData := dict 
        "legend" "Radio button" 
        "name" "radio"
        "options" (slice
          (dict "checked" false)
          (dict
            "label" "Radio1" 
            "checked" false)
          (dict
            "label" "Radio2" 
            "checked" true)
          (dict
            "label" "Radio3" 
            "checked" false) ) }}
      {{ partial "components/selections/radio-buttons.html" $radioData }}
      {{ $radioDataDisabled := dict 
        "legend" "Disabled radios" 
        "name" "radio-disabled"
        "options" (slice
          (dict
            "disabled" "disabled"
            "label" "Disabled" 
            "checked" false
          )
          (dict
            "disabled" "disabled"
            "label" "Disabled" 
            "checked" true
          ) ) }}
      {{ partial "components/selections/radio-buttons.html" $radioDataDisabled }}
    </div>

    {{/*  Sliders  */}}
    <div class="showcase-components-header">Sliders</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">Continuous</div>
      {{ partial "components/selections/sliders.html" (dict 
        "config" "continuous"
        "trackingDot" true) }}
    
      <div class="sub-showcase-components-header">Centered</div>
      {{ partial "components/selections/sliders.html" (dict 
        "config" "centered"
        "value" "50" 
        "list" "markers" 
        "datalist" "markers" 
        "markers" (slice "0" "10" "20" "30" "40" "50" "60" "70" "80" "90" "100")) }}
    
      <div class="sub-showcase-components-header">Discrete</div>
      {{ partial "components/selections/sliders.html" (dict 
        "config" "discrete"
        "step" "10" 
        "list" "markers-discrete" 
        "datalist" "markers-discrete" 
        "markers" (slice "0" "10" "20" "30" "40" "50" "60" "70" "80" "90" "100")) }}
    
      <div class="sub-showcase-components-header">Range</div>
      {{ partial "components/selections/sliders.html" (dict 
        "config" "range"
        "range" true 
        "datalist"
        "markers-range" 
        "markers" (slice "0" "100")) }}

      <div class="sub-showcase-components-header">Disabled</div>
      {{ partial "components/selections/sliders.html" (dict 
        "config" "continuous"
        "disabled" "disabled"
        "trackingDot" true) }}
      
      <div class="sub-showcase-components-header">Subcomponents</div>
      <div class="indicator value">50</div>
      <div class="track active"></div>
      <div class="handle"></div>
      <div class="track dot"></div>
      <div class="track inactive right">
        <div class="track dot"></div>
      </div>
      <div class="track inactive left">
        <div class="track dot"></div>
      </div>
      <div class="discrete-dots">
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
        <div class="track dot"></div>
      </div>
    </div>
    
    {{/*  Switches  */}}
    <div class="showcase-components-header">Switches</div>
    <div class="layout showcase-components">
      <div class="sub-showcase-components-header">No icon</div>
      {{ partial "components/selections/switches.html" dict }}

      {{ partial "components/selections/switches.html" (dict
        "disabled" "disabled") }}

      {{ partial "components/selections/switches.html" (dict
        "disabled" "disabled"
        "checked" "checked") }}
    
      <div class="sub-showcase-components-header">With icons</div>
      {{ partial "components/selections/switches.html" (dict 
        "icons" "select") }}

      {{ partial "components/selections/switches.html" (dict 
        "icons" "both") }}

      {{ partial "components/selections/switches.html" (dict 
        "icons" "both"
        "disabled" "disabled") }}
      
      {{ partial "components/selections/switches.html" (dict 
        "icons" "select"
        "disabled" "disabled"
        "checked" "checked") }}
    </div>
 
    {{/*  || Pickers  */}}
    <div class="showcase-components-header">Pickers</div>
    <div class="layout showcase-components">
      {{/*  Date pickers  */}}
      <div class="display-medium">Date pickers</div>

      {{/*  TODO Docked  */}}
      <div class="sub-showcase-components-header">Docked</div>
      {{/*  TODO Day selection  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "docked"
        "config" "day"
        "supporting_text" "Select date (Day selection)"
        "headline" "Enter date"
        "icon" "today") }}
      
      {{/*  TODO Month selection  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "docked"
        "config" "month"
        "supporting_text" "Select date (Month selection)"
        "headline" "Enter date"
        "icon" "today") }}

      {{/*  TODO Year selection  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "docked"
        "config" "year"
        "supporting_text" "Select date (Year selection)"
        "headline" "Enter date"
        "icon" "today") }}

      {{/*  TODO Modal  */}}
      <div class="sub-showcase-components-header">Modal</div>
      {{/*  TODO Single date selection  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "modal"
        "config" "single"
        "supporting_text" "Select date (Single date selection)"
        "headline" "Enter date"
        "icon" "today") }}

      {{/*  TODO Date range selection  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "modal"
        "config" "range"
        "supporting_text" "Select date (Date range selection)"
        "headline" "Enter date"
        "icon" "today"
        "date_range" true) }}

      {{/*  TODO Year selection */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "modal"
        "config" "year"
        "supporting_text" "Select date (Year selection)"
        "headline" "Enter date"
        "icon" "today") }}

      {{/*  Modal input  */}}
      <div class="sub-showcase-components-header">Modal input</div>
      {{/*  Single date input  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "input"
        "supporting_text" "Select date (Single date input)"
        "headline" "Enter date"
        "icon" "today") }}

      {{/*  Date range input  */}}
      {{ partial "components/selections/picker-date.html" (dict
        "type" "input"
        "supporting_text" "Select date (Date range input)"
        "headline" "Enter date"
        "icon" "today"
        "date_range" true) }}

      {{/*  Subcomponents  */}}
      <div class="display-medium">Subcomponents</div>
      <span class="headline-small">Calendar cell</span>
      <div class="component calendar-cell day">00</div>
      <div class="component calendar-cell day disabled">00</div>
      <div class="component calendar-cell today">00</div>
      <div class="component calendar-cell today disabled">00</div>
      <div class="component calendar-cell selected">00</div>
      <div class="component calendar-cell prev">00</div>
      <div class="component calendar-cell next">00</div>
      <div class="component calendar-cell range">
        <div class="highlight start"></div>
        <div class="highlight middle"></div>
        <div class="highlight end"></div>
        00
      </div>
      <div class="component calendar-cell null"></div>

      <hr>

      <span class="headline-small">Year</span>
      <div class="component year">2024</div>
      <div class="component year disabled">2024</div>
      <div class="component year selected">2024</div>
      
      <hr>

      <span class="headline-small">Menu button</span>
      <div class="component button common">
        Label
        <i class="icon">arrow_drop_down</i>
      </div>
      <div class="component button common disabled">
        Label
        <i class="icon">arrow_drop_down</i>
      </div>

      {{/*  Time pickers  */}}
      <div class="display-medium">Time pickers</div>
      {{/*  Dial  */}}
      <div class="sub-showcase-components-header">Dial - 12-hour clock</div>
      {{/*  12H Time input picker - vertical  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "dial"
        "time" "twelve-hour"
        "orientation" "vertical"
        "display" "12"
        "headline" "Select time (12-hour - vertical)") }}

      {{/*  12H Time input picker - horizontal  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "dial"
        "time" "twelve-hour"
        "orientation" "horizontal"
        "display" "12"
        "headline" "Select time (12-hour - horizontal)") }}

      <div class="sub-showcase-components-header">Dial - 24-hour clock</div>
      {{/*  24H Time input picker - vertical  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "dial"
        "time" "twenty-four-hour"
        "orientation" "vertical"
        "display" "24"
        "headline" "Select time (24-hour - vertical)") }}
      
      {{/*  24H Time input picker - horizontal  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "dial"
        "time" "twenty-four-hour"
        "orientation" "horizontal"
        "display" "24"
        "headline" "Select time (24-hour - horizontal)") }}

      {{/*  Input  */}}
      <div class="sub-showcase-components-header">Input</div>
      {{/*  12H Time input picker  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "input"
        "display" "12"
        "headline" "Select time (12-hour)") }}

      {{/*  24H Time input picker  */}}
      {{ partial "components/selections/picker-time.html" (dict
        "type" "input"
        "display" "24"
        "headline" "Select time (24-hour)") }}

      {{/*  Subcomponents  */}}
      <div class="display-medium">Subcomponents</div>
      <div class="display-medium">Hour</div>
      <div class="hour selected">00</div>
      <div class="hour">00</div>

      <div class="display-medium">Period selector</div>
      <div class="period-selector-container">
        <div class="period-option selected">AM</div>
        <div class="period-option">PM</div>
      </div>
      <div class="period-selector-container">
        <div class="period-option">AM</div>
        <div class="period-option selected">PM</div>
      </div>
      
      <div class="display-medium">Period selector - horizontal</div>
      <div class="period-selector-container horizontal">
        <div class="period-option selected">AM</div>
        <div class="period-option">PM</div>
      </div>
      <div class="period-selector-container horizontal">
        <div class="period-option">AM</div>
        <div class="period-option selected">PM</div>
      </div>

      <div class="display-medium">Hour line</div>
      <div class="hour-line twelve-hour">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      
      <div class="hour-line twenty-four-hour">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="display-medium">Clock face - 12h</div>
      <div class="clock-face twelve-hour">
        <div class="hour">1</div>
        <div class="hour">2</div>
        <div class="hour">3</div>
        <div class="hour">4</div>
        <div class="hour">5</div>
        <div class="hour">6</div>
        <div class="hour selected">7</div>
        <div class="hour">8</div>
        <div class="hour">9</div>
        <div class="hour">10</div>
        <div class="hour">11</div>
        <div class="hour">12</div>
      </div>
      
      <div class="display-medium">Clock face - 24h</div>
      <div class="clock-face twenty-four-hour">
        <div class="hour">1</div>
        <div class="hour">2</div>
        <div class="hour">3</div>
        <div class="hour">4</div>
        <div class="hour">5</div>
        <div class="hour">6</div>
        <div class="hour">7</div>
        <div class="hour">8</div>
        <div class="hour">9</div>
        <div class="hour">10</div>
        <div class="hour">11</div>
        <div class="hour">12</div>

        <div class="hour">13</div>
        <div class="hour">14</div>
        <div class="hour">15</div>
        <div class="hour">16</div>
        <div class="hour">17</div>
        <div class="hour">18</div>
        <div class="hour">19</div>
        <div class="hour selected">20</div>
        <div class="hour">21</div>
        <div class="hour">22</div>
        <div class="hour">23</div>
        <div class="hour">24</div>
      </div>

      <div class="display-medium">Input</div>
      <div class="time-input-field-container">
        <div class="time-input-option selected">07</div>
        <div class="time-input-separator"></div>
        <div class="time-input-option">00</div>
      </div>

      <div class="display-medium">Direct input</div>
      <div class="time-input-field-container">
        <div class="time-input-option selected">07
          <span class="supporting-text">Hour</span>
        </div>
        <div class="time-input-separator"></div>
        <div class="time-input-option">00
          <span class="supporting-text">Minute</span>
        </div>
      </div>
    </div>
  </section>
</article>
{{ end }}
