{{ define "main" }}
<article 
  class="layout panes basic-single-pane" 
  id="components-showcase">
  <section 
    class="layout pane" 
    id="post-content">  

    {{ with .Content }}
      {{ . }}
    {{ end }}

    {{/*  Text fields  */}}
    <div class="showcase-components-header">Text fields</div>
    <div class="layout showcase-components">
      {{/*  Text field configurations  */}}

      {{/*  Filled  */}}
      <div class="sub-showcase-components-header">Filled</div>
      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "supporting_text" "Supporting text") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "supporting_text" "Supporting text"
        "disabled" "disabled") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "trailing_icon" "cancel") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "leading_icon" "search") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "leading_icon" "search"
        "trailing_icon" "cancel") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" ) }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "suffix" "suffix") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "placeholder" "Placeholder") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "filled" 
        "label" "Label text" 
        "multiline" true) }}

      {{/*  Outlined  */}}
      <div class="sub-showcase-components-header">Outlined</div>
      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "supporting_text" "Supporting text") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "supporting_text" "Supporting text"
        "disabled" "disabled") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "trailing_icon" "cancel") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "leading_icon" "search") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "leading_icon" "search"
        "trailing_icon" "cancel") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" ) }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "suffix" "suffix") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "placeholder" "Placeholder") }}

      {{ partial "components/text-inputs/text-fields.html" (dict 
        "type" "outlined" 
        "label" "Label text" 
        "multiline" true) }}
    </div>
  </section>
</article>
{{ end }}
