/* TODO logseq.css */
/* Logseq Graph */
html.is-publish-mode {
  all: unset;

  & main,
  .panes,
  .pane {
    all: unset;
  }

  #header,
  #footer,
  .page-header,
  .page-links,
  .page-navigation,
  #toc,
  #top-link {
    display: none;
  }

  #main-content-container {
    all: unset;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow-y: auto;
    overflow-x: hidden;

    * {
      flex: 1 1 auto;
    }
  }
}
