.app-bar.top {
  --container-display: flex;
  --container-flex-flow: row nowrap;
  --container-justify-content: flex-start;
  --container-align-items: center;
  --container-color: var(--color-surface-container);
  
  .start,
  .end {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
    align-items: center;
    gap: var(--size-3);
  }

  .start > * {
    color: var(--color-on-surface);
  }

  .end > * {
    color: var(--color-on-surface-variant);
  }
  
  .end {
    margin-left: auto;
  }

  .headline {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    align-self: stretch;
    align-items: center;
    color: var(--color-on-surface);
    font-size: var(--typescale-title-large-size);
    line-height: var(--typescale-title-large-line-height);
    font-weight: var(--typescale-title-large-weight);
    font-family: var(--typescale-title-large-font);
  }
}

.app-bar.top.center {
  .headline {
    justify-content: center;
  }
}

.app-bar.top.small {
  --container-height: var(--size-16);
  --container-width: 100%;
  --container-padding: var(--size-2) var(--size-1);
}

.app-bar.top.medium,
.app-bar.top.large {
  --container-flex-flow: row wrap;
  --container-align-content: space-between;
  
  .headline {
    padding-inline: var(--size-3);
  }
}

.app-bar.top.medium {
  --container-height: var(--size-28);
  --container-width: 100%;
  --container-padding: var(--size-5) var(--size-1) var(--size-6) var(--size-1);
  
  .headline {
    font-size: var(--typescale-headline-small-size);
    line-height: var(--typescale-headline-small-line-height);
    font-weight: var(--typescale-headline-small-weight);
    font-family: var(--typescale-headline-small-font);
  }
}

.app-bar.top.large {
  --container-height: var(--size-38);
  --container-width: 100%;
  --container-padding: var(--size-5) var(--size-1) var(--size-7) var(--size-1);
  
  .headline {
    font-size: var(--typescale-headline-medium-size);
    line-height: var(--typescale-headline-medium-line-height);
    font-weight: var(--typescale-headline-medium-weight);
    font-family: var(--typescale-headline-medium-font);
  }
}
