.component.navigation.drawer {
  --container-flex-flow: row nowrap;
  --container-gap: var(--size-3);
  --container-padding: var(--size-4) var(--size-6);
  --container-height: var(--size-14);
  --container-shape: var(--shape-corner-full);
  --container-width: var(--size-90);
  
  --text-color: var(--color-on-surface-variant);
  --icon-color: var(--color-on-surface-variant);

  
  &:has(i) {
    --container-padding: var(--size-4) var(--size-6) var(--size-4) var(--size-4);
  }

  .label {
    margin-right: auto;
    color: var(--color-on-surface-variant);
    font-size: var(--typescale-label-large-size);
    line-height: var(--typescale-label-large-line-height);
    font-weight: var(--typescale-label-large-weight);
    font-family: var(--typescale-label-large-font);  
  }

  &.active {
    --container-color: var(--color-secondary-container);
    --text-color: var(--color-on-secondary-container);
    --icon-color: var(--color-on-secondary-container);

    .label {
      font-weight: var(--typeface-weight-bold);
    }
  }
}

.headline,
.section-header {
  width: 100%;
  color: var(--color-on-surface-variant);
  font-size: var(--typescale-title-small-size);
  line-height: var(--typescale-title-small-line-height);
  font-weight: var(--typescale-title-small-weight);
  font-family: var(--typescale-title-small-font);
}
