{{ $dial := eq .type "dial" }}
<div class="component picker time {{ .type }} {{ .orientation }}">
  <div class="time-picker-headline">{{ .headline }}</div>
  <div class="time-picker-body">
    {{ if eq .display "12" }}
      <div class="time-picker-container">
        <div class="time-input-field-container">
          
          <div class="time-input-option selected">07
            <span class="supporting-text">Hour</span>
          </div>

          <div class="time-input-separator">:</div>

          <div class="time-input-option">00
            <span class="supporting-text">Minute</span>
          </div>

        </div>

        <div class="period-selector-container">
          <div class="period-option selected">AM</div>
          <div class="period-option">PM</div>
        </div>
      </div>
    {{ else }}
      <div class="time-picker-container">

        <div class="time-input-field-container">
          <div class="time-input-option selected">07
            <span class="supporting-text">Hour</span>
          </div>

          <div class="time-input-separator">:</div>

          <div class="time-input-option">00
            <span class="supporting-text">Minute</span>
          </div>

        </div>

      </div>
    {{ end }}

    {{ if $dial }}
      <div class="clock-face {{ .time }}">
        <div class="hour">1</div>
        <div class="hour">2</div>
        <div class="hour">3</div>
        <div class="hour">4</div>
        <div class="hour">5</div>
        <div class="hour">6</div>
        <div class="hour selected">
          7
        </div>
        <div class="hour">8</div>
        <div class="hour">9</div>
        <div class="hour">10</div>
        <div class="hour">11</div>
        <div class="hour">12</div>

        {{ if eq .display "24" }}
          <div class="hour">13</div>
          <div class="hour">14</div>
          <div class="hour">15</div>
          <div class="hour">16</div>
          <div class="hour">17</div>
          <div class="hour">18</div>
          <div class="hour">19</div>
          <div class="hour">20</div>
          <div class="hour">21</div>
          <div class="hour">22</div>
          <div class="hour">23</div>
          <div class="hour">24</div>
        {{ end }}
      </div>
    {{ end }}
  </div>

  <div class="time-picker-actions"> 
    <div class="time-picker-start">
      <button class="component button icon">
        <i class="icon">schedule</i>
      </button>
    </div>
    <div class="time-picker-end">
      <button class="component button common">Cancel</button>
      <button class="component button common">OK</button>
    </div>
  </div>
</div>
