{{ if .href }}
  <a 
    class="component button common {{ .type }}" 
    {{ .disabled }}
    href="{{ .href }}">
    {{ with .icon }}
      <i class="icon">
        {{ . }}
      </i>
    {{ end }}

    {{ with .label }}
      {{ . }}
    {{ end }}
  </a>
{{ else }}
  <button 
    class="component button common {{ .type }}" 
    {{ .disabled }}>
    {{ with .icon }}
      <i class="icon">
        {{ . }}
      </i>
    {{ end }}

    {{ with .label }}
      {{ . }}
    {{ end }}
  </button>
{{ end }}
