<section class="footer-links">
  {{ $menus := site.Menus }}
  {{ range $name, $menu := $menus }}
    {{ if ne $name "main" }}
      <div class="footer-links-list">
        <span class="title-medium on-surface-variant">
          {{ $name | humanize }}
        </span>
        {{ range $menu }}
          {{ if .PageRef }}
            <a href="{{ .URL | safeHTMLAttr }}">
              {{ .Name }}
            </a>
          {{ else if .URL }}
            <a  
              href="{{ .URL | safeHTMLAttr }}"
              target="_blank"
              rel="external noopener noreferrer me">
              {{ .Name }}
            </a>
          {{ else }}
            <p>{{ .Name | safeHTML }}</p>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  {{ end }}
</section>

{{/* Copyright */}}
<section class="copyright">
  <a  
    id="copyright-button"
    href="{{ "" | absLangURL }}">
    © {{ now.Year }} {{ site.Title }}
  </a>

  {{ with site.Params.assets.footerImage }}
    <img 
      id="footer-image"
      src="{{ . | absURL }}"
      alt="Footer image">
  {{ end }}
</section>