{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $name := .Name }}

    <a  {{- range $k, $v := $attrs }}
        {{- with $v }}
          {{- printf " %s=%q" $k $v | safeHTMLAttr }}
        {{- end }}
      {{- end -}}>
      {{ $name }}
    </a>
  {{- end }}
{{- end }}   
