{{ if and (not .IsHome) (ne .Title "404 Page not found") }}
  <section class="layout page-header">
    {{/* Metadata */}} 
    {{ if (and 
      (not (or (eq .Kind "taxonomy") (eq .Kind "term"))) 
      (not .IsHome) 
      (not (eq .Title "Sitemap"))
      (not (eq .Title "Search")) 
      (not (or (eq .Title "404 Page not found") (eq .Title "Now")))) }}
      <div class="label-medium">{{ partialCached "post-meta.html" . .Title }}</div>
    {{ end }} 

    {{/* Title */}}
    {{ with .Title }}
      <h1 class="title">{{ . }}</h1>
    {{ end }}

    {{/* Description */}} 
    {{ if .Description }}
      <span class="description">{{ .Description | markdownify }}</span>
    {{ end }} 
    
    {{/* Github button */}}
    {{ with .Params.githubRepo }}
      {{ partial "github-button.html" (dict "githubRepo" .) }} 
    {{ end }}

    {{/* Debug */}}
    {{ if site.Params.debug }}
      {{ partialCached "debug.html" . .Title }}
    {{ end }}

  </section>
{{ end }}
