<details
  class="layout showcase-tokens"
  open>
  <summary class="showcase-tokens-title">Reference tokens</summary>

  {{ range $group, $palettes := site.Data.palettes }}
    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">{{ title $group }} palettes</summary>

      <div class="palettes-{{ $group }}">
        {{ range $palettes }} 
          {{ $name := . }}
          <label>{{ title $name }}</label>
          <div class="set palette {{ $name }}">
            {{ range seq 0 10 100 }}
              <div
                class="component color-palette-cell"
                style="background-color: var(--palette-{{ $name }}-{{ . }})">
                {{ . }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </details>
  {{ end }}
</details>
