<details
  class="layout showcase-tokens"
  open>
  <summary class="showcase-tokens-title">Semantic color swatches</summary>

  {{ range $group, $swatches := site.Data.palettes }} 
    {{ if eq $group "main" }} 
      {{ continue }} 
    {{ end }}

    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">{{ title $group }} color swatches</summary>
      <div class="swatches-{{ $group }}">
        
        {{ range $swatches }} 
          {{ $name := . }}
          <div class="set swatch">
            <div class="component color-swatch-cell {{ $name }}">
              <span>{{ title $name }}</span>
              <span>On {{ title $name }}</span>
            </div>
            <div class="component color-swatch-cell {{ $name }}-container">
              <span>{{ title $name }} Container</span>
              <span>On {{ title $name }} Container</span>
            </div>
          </div>
        {{ end }}
      </div>
    </details>
  {{ end }}
</details>
