{{- $page := .page }}
{{- $menuID := .menuID }}

{{ with index site.Menus $menuID }}
  <div class="set tabs title-medium">
    {{ partial "inline/tab_menu/walk.html" (dict "page" $page "menuEntries" .) }}
  </div>
{{ end }}

{{ define "partials/inline/tab_menu/walk.html" }}
{{- $page := .page }}
{{- $activeFound := false }}

{{- range .menuEntries }}
  {{- $attrs := dict "href" .URL }}
  {{- $name := .Name }}
  {{- $isActive := false }}
  {{- $childrenActive := false }}

  {{- if $page.IsMenuCurrent .Menu . }}
    {{- $isActive = true }}
  {{- else if $page.HasMenuCurrent .Menu . }}
    {{- $isActive = true }}
  {{- else }}
    {{- range $index, $project := $page.Params.projects }}
      {{- with $project }}
        {{- $pageTerms := . }}
        {{- $menuTerm := $name | lower | singularize }}
        {{- if and $menuTerm (in $pageTerms $menuTerm) }}
          {{- $isActive = true }}
        {{- end }}
      {{- end }}
    {{- end }}

    {{- range $index, $resource := $page.Params.resources }}
      {{- with $resource }}
        {{- $pageTerms := . }}
        {{- $menuTerm := $name | lower | singularize }}
        {{- if and $menuTerm (in $pageTerms $menuTerm) }}
          {{- $isActive = true }}
        {{- end }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- if .Children }}
    {{- $childContext := dict "page" $page "menuEntries" .Children }}
    {{- $childHTML := partial "inline/tab_menu/walk.html" $childContext }}
    {{- if strings.Contains $childHTML "active" }}
      {{- $childrenActive = true }}
    {{- end }}
  {{- end }}

  {{- $finalActive := or $isActive $childrenActive }}
  {{- if $finalActive }}
    {{- $activeFound = true }}
    {{- $attrs = merge $attrs (dict "class" "component tab primary active" "aria-current" "page") }}
  {{- else }}
    {{- $attrs = merge $attrs (dict "class" "component tab primary") }}
  {{- end }}

  {{- $icon := .Pre }}
  {{- with .Identifier }}
    {{- with T . }}
      {{- $name = . }}
    {{- end }}
  {{- end }}

  {{- if .Children }}
    <div class="sub-tabs-container">
        <a
          {{- range $k, $v := $attrs }}
            {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
            {{- end }}
          {{- end -}}>
          <i class="icon">{{ $icon }}</i>
          <div class="label">
            {{ $name }}
          </div>
        </a>
        {{- with .Children }}
          <div class="title-medium sub-tabs">
            {{- partial "inline/tab_menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </div>
        {{- end }}
    </div>
  {{- else }}
    <a
      {{- range $k, $v := $attrs }}
          {{- with $v }}
              {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
      {{- end -}}>
      <i class="icon">{{ $icon }}</i>
      <div class="label">
          {{ $name }}
      </div>
    </a>
  {{- end }}
{{- end }}

{{- end }}
