#showcase .pane {
  --layout-border: 2px dotted var(--color-outline-variant);
}

#showcase.canon-feed .pane {
  --layout-gap: var(--size-2);
  --layout-display: flex;
  --layout-flex-flow: row wrap;
  --layout-align-content: stretch;

  .card {
    place-items: center;
  }
}

#components-showcase {
  .pane {
    --padding: 0px;
  }

  .display-medium {
    margin-top: var(--size-12);
    width: 100%;
  }
}

.showcase-components-header {
  width: 100%;
  padding: var(--size-5) var(--size-4);
  color: var(--color-on-surface);
  background-color: var(--color-showcase-tokens-container);
  border-radius: var(--shape-corner-s-top);

  font-size: var(--typescale-display-small-size);
  line-height: var(--typescale-display-small-line-height);
  font-weight: var(--typescale-display-small-weight);
  font-family: var(--typescale-display-small-font);
  
  &:first-of-type {
    margin-top: var(--size-12);
  }
}

.showcase-components {
  margin-bottom: var(--size-6);
  
  --layout-display: flex;
  --layout-flex-flow: row wrap;
  --layout-align-items: flex-start;
  --layout-justify-content: flex-start;
  --layout-padding: var(--size-5);
  --layout-gap: var(--size-7);
  
  --layout-shape: var(--shape-corner-s-bottom);
  
  --layout-bg: var(--color-surface-container-lowest);

  .sub-showcase-components-header {
    width: 100%;
    color: var(--color-on-surface-variant);

    font-size: var(--typescale-headline-medium-size);
    line-height: var(--typescale-headline-medium-line-height);
    font-weight: var(--typescale-headline-medium-weight);
    font-family: var(--typescale-headline-medium-font);

    margin-block: var(--size-12) var(--size-3);

    &:first-child {
      margin-top: 0;
    }
  }

  & section {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap: var(--size-4);
    width: 100%;
  }

  .divider-showcase-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: var(--size-3);
    justify-items: flex-start;
    align-items: center;
    width: 100%;
    
    & div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      height: fit-content;
    }
    
    .divider {
      flex: 1 1 auto;
      width: 100%;
    }
  }

  .divider-showcase-container-vertical {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: var(--size-5);
    height: var(--size-30);
    
    & div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: var(--size-2);
    }
  }
}

.showcase-cards {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-2);

  .component.card {
    flex: 1 1 0;
    min-height: fit-content;
    padding: var(--size-8);
  }
}
