#shapes-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--size-5);
  margin: var(--spacing-panes);
  overflow-x: auto;

  & h2 {
    grid-column: 1 / -1;
  }

  [class^="shape-"] {
    flex: 1 1 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--size-3);
    justify-content: center;
    align-items: center;
    background-color: var(--color-surface-container-lowest);
    color: var(--color-on-surface);
    min-height: var(--size-20);
    min-width: var(--size-20);
  }

  .shape-none,
  .shape-full {
    grid-column: span 5;
    align-self: stretch;
    max-height: var(--size-20);
    max-width: var(--size-20);
  }
}
