#footer {
  position: relative;

  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  padding: 30vmax 8vmax 5vmax;
  gap: 5vmax;

  .footer-links {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-panes);

    .footer-links-list {
      flex: 1 1 0;
      display: flex;
      flex-flow: column nowrap;

      & span:first-child {
        color: var(--color-on-surface-variant);
      }
    }

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      margin-bottom: var(--size-1);
    }

    & span {
      margin-block: 0 var(--spacing-panes);
    }
  }

  .footer-lower {
    flex: 1 1 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--size-5);
    margin-top: var(--spacing-panes);
    
    > * {
      flex: 1 1 0;
    }

    & a {
      text-decoration: none;
    }

    .copyright {
      display: flex;
      align-items: flex-start;
      flex-flow: column nowrap;
      gap: var(--spacing-panes);
    }

    #copyright-button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: var(--color-on-surface-variant);

      &:hover {
        color: var(--color-on-surface);
        text-decoration: underline;
      }
    }

    .footer-buttons {
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-panes);
      align-items: stretch;

      .footer-buttons-set {
        display: flex;
        flex-flow: row nowrap;      
        align-items: center;
        justify-content: center;  
        gap: var(--size-3);
      }
    }
  }
}
