:root {
  /* || Easing */

  /* Standard */
  --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --motion-easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --motion-easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);

  /* Emphasized */
  --motion-easing-emphasized: var(--motion-easing-standard);
  --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);

  /* Linear */
  --motion-easing-linear: cubic-bezier(0, 0, 1, 1);

  /* || Duration */

  /* 1 Short */
  --motion-duration-short1: var(--input-motion-duration);
  --motion-duration-short2: calc(var(--input-motion-duration) * 2);
  --motion-duration-short3: calc(var(--input-motion-duration) * 3);
  --motion-duration-short4: calc(var(--input-motion-duration) * 4);

  /* 2 Medium */
  --motion-duration-medium1: calc(var(--input-motion-duration) * 5);
  --motion-duration-medium2: calc(var(--input-motion-duration) * 6);
  --motion-duration-medium3: calc(var(--input-motion-duration) * 7);
  --motion-duration-medium4: calc(var(--input-motion-duration) * 8);

  /* 3 Long */
  --motion-duration-long1: calc(var(--input-motion-duration) * 9);
  --motion-duration-long2: calc(var(--input-motion-duration) * 10);
  --motion-duration-long3: calc(var(--input-motion-duration) * 11);
  --motion-duration-long4: calc(var(--input-motion-duration) * 12);

  /* 4 Extra long */
  --motion-duration-extra-long1: calc(var(--input-motion-duration) * 14);
  --motion-duration-extra-long2: calc(var(--input-motion-duration) * 16);
  --motion-duration-extra-long3: calc(var(--input-motion-duration) * 18);
  --motion-duration-extra-long4: calc(var(--input-motion-duration) * 20);
}
