{{ define "main" }}
<article class="layout panes basic-single-pane">
  <section 
    class="layout pane" 
    id="post-content">  
    {{ with .Content }}
      {{ . }}
    {{ end }}
    <details 
      class="layout showcase-tokens" 
      open>
      <summary class="showcase-tokens-title">Elevations</summary>
      <section class="elevations-container">
        {{ $surfaces := "-lowest -low  -high -highest" }}
        {{ $surfaces := split $surfaces " " }}
        {{ range $i, $surface := $surfaces }}
          <div class="component surface-container{{ $surface }} elevation{{ add $i 1 }}">
            {{ add $i 1 }}
          </div>
        {{ end }}
      </section>
    </details>
  </section>
</article>
{{ end }}