{{ define "main" }}
<article class="layout panes basic-single-pane">
  <section 
    class="layout pane" 
    id="post-content">
    <details 
      class="layout showcase-tokens" 
      open>
      <summary class="showcase-tokens-title">Motions</summary>
      
      <div class="motion-grid" id="motions">
        <div class="duration-group">
          <h3>Short</h3>
          <div class="box-container">
            <h4>Short 1</h4>
            <div class="box translate motion-duration-short1">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Short 2</h4>
            <div class="box translate motion-duration-short2">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Short 3</h4>
            <div class="box translate motion-duration-short3">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Short 4</h4>
            <div class="box translate motion-duration-short4">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
          </div>
        </div>

        <div class="duration-group">
          <h3>Medium</h3>
          <div class="box-container">
            <h4>Medium 1</h4>
            <div class="box translate motion-duration-medium1">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Medium 2</h4>
            <div class="box translate motion-duration-medium2">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Medium 3</h4>
            <div class="box translate motion-duration-medium3">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Medium 4</h4>
            <div class="box translate motion-duration-medium4">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
          </div>
        </div>

        <div class="duration-group">
          <h3>Long</h3>
          <div class="box-container">
            <h4>Long 1</h4>
            <div class="box translate motion-duration-long1">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Long 2</h4>
            <div class="box translate motion-duration-long2">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Long 3</h4>
            <div class="box translate motion-duration-long3">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Long 4</h4>
            <div class="box translate motion-duration-long4">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
          </div>
        </div>

        <div class="duration-group">
          <h3>Extra Long</h3>
          <div class="box-container">
            <h4>Extra long 1</h4>
            <div class="box translate motion-duration-extra-long1">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Extra long 2</h4>
            <div class="box translate motion-duration-extra-long2">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Extra long 3</h4>
            <div class="box translate motion-duration-extra-long3">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
            <h4>Extra long 4</h4>
            <div class="box translate motion-duration-extra-long4">
              <span class="motion-easing-emphasized">Emphasized</span>
              <span class="motion-easing-standard">Standard</span>
              <span class="motion-easing-linear">Linear</span>
              <span class="motion-easing-emphasized-accelerate">Emphasized Accelerate</span>
              <span class="motion-easing-emphasized-decelerate">Emphasized Decelerate</span>
              <span class="motion-easing-standard-accelerate">Standard Accelerate</span>
              <span class="motion-easing-standard-decelerate">Standard Decelerate</span>
            </div>
          </div>
        </div>

        <div class="duration-group">
            <h3 class="headline-small">Skeleton Loader</h3>
            <div class="box-container">
                <div class="box skeleton"></div>
            </div>
        </div>
      </div>
    </details>
  </section>
</article>
{{ end }}
