{{ define "main" }}
<article
  class="layout panes basic-single-pane"
  id="showcase-typography">
  <section
    class="layout pane"
    id="post-content">
    {{ with .Content }} 
      {{ . }} 
    {{ end }}
    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Typeface</summary>
      {{ $typefaceFonts := slice "Brand" "Plain" "Code" }} 
      {{ $typefaceFontClasses := slice "title-small" "body-large" "code-typeface" }} 
      {{ $typefaceWeights := slice "700" "500" "400" }} 
      {{ $typefaceWeightNames := slice "bold" "medium" "regular" }}
      <section class="typeface-container">
        {{ range $k, $v := $typefaceFonts }}
          <div class="typeface-weights">
            <h3 class="{{ index $typefaceFontClasses $k }}">{{ . }}</h3>
            {{ range $i, $j := $typefaceWeights }} 
              {{ $weightName := index $typefaceWeightNames $i }}
              <div
                class="{{ index $typefaceFontClasses $k }}"
                style="font-weight: var(--typeface-weight-{{ $weightName }});">
                {{ . }} {{ $weightName }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </section>
    </details>

    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Typescale</summary>
      <section class="typescale-container">
        {{ $typescaleTypes := slice "display" "headline" "title" "body" "label" }} 
        {{ $typescaleSizes := slice "large" "medium" "small" }} 
        {{ $typescaleClasses := slice "display" "headline" "title" "body" "label" }} 
        {{ $typescaleSizesClasses := slice "large" "medium" "small" }} 
        {{ range $k, $v := $typescaleTypes }}
          <div class="typescale-{{ . }}s">
            {{ range $i, $j := $typescaleSizes }}
              <div class="{{ index $typescaleClasses $k }}-{{ . }}">
                {{ title $v }} {{ title . }}
              </div>
            {{ end }}
          </div>
        {{ end }}
      </section>
    </details>

    <details
      class="layout showcase-tokens"
      open>
      <summary class="showcase-tokens-title">Formatting</summary>
      <section class="typescale-container">
        <div class="title-large upper">uppercase</div>
        <div class="title-large lower">lowercase</div>
        <div class="title-large capitalize">capitalize</div>
        <div class="title-large overline">overline</div>
        <div class="title-large underline">underline</div>
        <div class="title-large strikethrough">strikethrough</div>
        <span><b>bold</b>/<strong>strong</strong></span>
        <em>italic</em>
        <a href="#">internal link</a>
        <a
          href="#"
          rel="external">
          external link</a>
      </section>
    </details>
  </section>
</article>
{{ end }}
