{{ define "main" }}
<article
  class="layout panes canon-feed"
  id="showcase">
  <section class="layout pane">
    <div class="component card elevated">
      <span class="card-title"> Elevated card </span>
    </div>
    <div class="component card elevated">
      <span class="card-title"> Elevated card </span>
    </div>
    <div class="component card elevated">
      <span class="card-title"> Elevated card </span>
    </div>
    <div class="component card filled">
      <span class="card-title"> Filled card </span>
    </div>
    <div class="component card filled">
      <span class="card-title"> Filled card </span>
    </div>
    <div class="component card filled">
      <span class="card-title"> Filled card </span>
    </div>
    <div class="component card outlined">
      <span class="card-title"> Outlined card </span>
    </div>
    <div class="component card outlined">
      <span class="card-title"> Outlined card </span>
    </div>
    <div class="component card outlined">
      <span class="card-title"> Outlined card </span>
    </div>
  </section>
</article>
{{ end }}
